.vs/CodinGames/xs/UserPrefs.xml
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/.NETCoreApp,Version=v1.1.AssemblyAttributes.cs
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.AssemblyInfo.cs
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.AssemblyInfoInputs.cache
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.assets.cache
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.csproj.FileListAbsolute.txt
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.csprojAssemblyReference.cache
CodinGames.sln
Practice/Code_VS_Zombies/obj/Code_VS_Zombies.csproj.nuget.cache
Practice/Code_VS_Zombies/obj/Code_VS_Zombies.csproj.nuget.g.props
Practice/Code_VS_Zombies/obj/Code_VS_Zombies.csproj.nuget.g.targets
Practice/Code_VS_Zombies/obj/project.assets.json
CodinGame_workspace.code-workspace
.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js
CodingGame.csproj
Program.cs
obj/CodingGame.csproj.nuget.dgspec.json
obj/CodingGame.csproj.nuget.g.props
obj/CodingGame.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/CodingGame.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/CodingGame.assets.cache
obj/Debug/netcoreapp3.1/CodingGame.csprojAssemblyReference.cache
CodinGame.sln
.vscode/launch.json
.vscode/tasks.json
obj/Debug/netcoreapp3.1/CodingGame.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
