.vs/CodinGames/xs/UserPrefs.xml
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/.NETCoreApp,Version=v1.1.AssemblyAttributes.cs
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.AssemblyInfo.cs
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.AssemblyInfoInputs.cache
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.assets.cache
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.csproj.FileListAbsolute.txt
Practice/Code_VS_Zombies/obj/Debug/netcoreapp1.1/Code_VS_Zombies.csprojAssemblyReference.cache
CodinGames.sln
Practice/Code_VS_Zombies/obj/Code_VS_Zombies.csproj.nuget.cache
Practice/Code_VS_Zombies/obj/Code_VS_Zombies.csproj.nuget.g.props
Practice/Code_VS_Zombies/obj/Code_VS_Zombies.csproj.nuget.g.targets
Practice/Code_VS_Zombies/obj/project.assets.json
